%table.table.table-striped
  %tbody
    - movies.each_with_index do |movie, i|
      %tr
        %td= i + 1
        - if @details && @details[movie.title]
          %td
            %img.img-rounded{ src: @details[movie.title]["poster"], width: 100, height: 150 }
        %td
          %h4
            = link_to movie.title, movie_path(movie)
          %p
            %strong
              = link_to movie.genre.name, movies_genre_path(movie.genre)
            = ' (' + movie.released_at.to_s + ')'
          %p= movie.description
          - if @details && @details[movie.title]
            %p
              Plot:
              = @details[movie.title]["plot"]
            %p
              Rating:
              = @details[movie.title]["rating"]
